/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: 'Roboto', sans-serif; /* Futuristic font */
  line-height: 1.6;
  background-color: #1F2833; /* Darker background color */
  color: #C5C6C7; /* Light text color */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: linear-gradient(135deg,#3BD045, #EF1105); /* Gradient background with futuristic colors */
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5rem; /* Larger font size for header */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #C5C6C7;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
  transition: color 0.3s ease; /* Smooth transition for color */
  font-size: 1.2rem; /* Adjust font size */
}

nav ul li a:hover {
  color: #fff; /* Change text color on hover */
}

section {
  padding: 50px 0;
}

section h2 {
  margin-bottom: 20px;
  font-size: 2rem; /* Larger font size for section headings */
  color: #62CF4F; /* Accent color for headings */
}

.project {
  margin-bottom: 20px;
}

footer {
  background: linear-gradient(135deg, #3BD045, #EF1105); /* Gradient background for footer */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Add this style to make the header flexbox */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add this style to make the about section flexbox */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Add this style to control the profile image size and position */
.profile-image-container {
  flex: 0 0 30%; /* Don't allow it to grow or shrink */
  max-width: 30%; /* Limit width */
}

/* Add this style to control the about content position */
.about-content {
  flex: 0 0 60%; /* Don't allow it to grow or shrink */
  max-width: 60%; /* Limit width */
  margin-top: 20px; /* Add some space between image and content */
}

/* Add this style to accommodate the profile image */
.profile-image {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5%; /* Make it circular */
  border: 5px solid #62CF4F; /* Accent color border */
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg,#3BD045, #EF1105); /* Gradient button background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.btn:hover {
  background-color: #6A4236; /* Darken color on hover */
}

/* Style the contact section */
#contact {
  padding: 50px 0;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contact-item {
  flex: 0 0 30%;
  margin-right: 20px;
  font-size: large;
}

.contact-item h3 {
  margin-bottom: 10px;
}

.contact-item p, .contact-item ul {
  margin: 0;
}

.contact-form {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 20px;
}

.contact-form h3 {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid#62CF4F; /* Accent color border */
  border-radius: 5px;
  background-color: transparent; /* Transparent background */
  color: #fff; /* Light text color */
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  background: linear-gradient(135deg,#3BD045, #EF1105); /* Gradient button background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background:#3BD045; /* Darken color on hover */
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab {
  font-size: 36px;
  display: flex;
}

.contact-item ul {
  list-style: none; /* Remove list-style */
  padding: 0; /* Remove default padding */
  display: flex;
  justify-content: center; /* Display items horizontally */
}

.contact-item ul li {
  margin-right:  60px; /* Adjust spacing between icons */
}

.contact-item ul li:last-child {
  margin-right: 0 100px; /* Remove margin-right for the last item */
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    padding: 10px 0;
  }

  header h1 {
    font-size: 2rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    padding: 10px 0;
    display: block;
    text-align: center;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image-container,
  .about-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .nav-links {
    display: none; /* Initially hide the navigation links */
  }

  .hamburger-menu {
    display: flex; /* Show the hamburger menu on smaller screens */
  }

  /* Adjust the hamburger menu icon appearance when clicked */
  .change .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change .line:nth-child(2) {
    opacity: 0;
  }

  .change .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
